:root {
    --background-color: #937993;
    --main-color: #000000;
    --navbar-background-color: rgb(128, 126, 126);
    --subtext-color: #ffffff;
    --linkedin-color: #0762C8;
  }

.contactInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    position: relative;
}

form{
    max-width: 600px;
    width: 100%;
    padding: 25px 25px 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px var(--main-color);
    margin: 25px;
    font-size: 2rem;
}

form .input-box{
    margin-top: 20px;
}

.input-box .field{
    width: 100%;
    height: 50px;
    background: transparent;
    border: 2px solid var(--main-color);
    outline: none;
    border-radius: 15px;
    padding: 15px;
    color: var(--main-color);
    margin-top: 8px;
    font-size: 1.5rem;
}

.input-box .field::placeholder{
    color: var(--main-color);
    opacity: 1;
}

.input-box .field-mess{
    height: 200px;
    resize: none;
    width: 100%;
    padding: 10px;
    font-size: 1.5rem;
    background-color: var(--subtext-color);
    color: var(--main-color);
}

.input-box .field-mess::placeholder{
    color: var(--main-color);
    opacity: 1;
}

form button{
    width: 100%;
    height: 55px;
    border: none;
    border-radius: 6px;
    box-shadow: 0 0 5px var(--main-color);
    cursor: pointer;
    color: var(--main-color);
    margin-top: 25px;
    font-size: 1.5rem;
}


