.timeline {
  position: relative;
  padding: 20px 0;
  list-style: none;
}

.timeline-item {
  padding-left: 40px;
  margin-bottom: 20px;
  position: relative;
}

.timeline-item-content{
  padding: 20px;
  border-radius: 8px;
  position: relative;
}


.institute{
  font-size: 2.5rem;
}

.degree{
  font-size: 2rem;
}

.date{
  font-size: 1.2rem;
}

.percentage{
  font-size: 1.2rem;
}

.timeline-item-content .circle {
  width: 10px;
  height: 10px;
  background: #0c0c0c;
  border-radius: 50%;
  position: absolute;
  top: 30px;
  left: -30px;
}

