:root {
  --background-color: #937993;
  --main-color: #000000;
  --navbar-background-color: rgb(128, 126, 126);
  --subtext-color: #ffffff;
}

.project {
  color: var(--main-color);
  padding: 20px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.project h2 {
  margin: 0 0 0.5rem 0; 
  font-size: 2.8rem;
}

.project p {
  margin: 0.5rem 0; 
  font-size: 2rem;
}

.subheading {
  text-decoration: underline;
}

.project a {
  color: var(--main-color);
  text-decoration: underline;
  font-size: 2rem;
}

.project a:hover {
  text-decoration: underline;
  font-size: 2rem;
}

@media (max-width: 760px) {
  .projects-container {
    padding: 0 10px; /* Add padding for better alignment */
  }

  .project {
    transform: scale(0.9); 
    transform-origin: top left;
    margin: 0 0 20px 0; /* Ensure there's spacing between projects */
  }

  .project h2 {
    font-size: 2rem;
  }

  .project p {
    font-size: 1.5rem;
  }

  .project a {
    font-size: 1.5rem;
  }
}

@media (max-width: 550px) {
  .projects-container {
    padding: 0 5px; /* Reduce padding for very small screens */
  }

  .project {
    transform: scale(0.85); /* Further scale down for very small screens */
  }

  .project h2 {
    font-size: 1.8rem;
  }

  .project p {
    font-size: 1.4rem;
  }

  .project a {
    font-size: 1.4rem;
  }
}
