:root {
  --background-color: #937993;
  --main-color: #000000;
  --navbar-background-color: rgb(128, 126, 126);
  --subtext-color: #ffffff;
}

.project {
  color: var(--main-color);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  padding: 20px;
}

.project h2 {
  margin: 0 0 0.5rem 0; 
  font-size: 2.8rem;
}

.project p {
  margin: 0.5rem 0; 
  font-size: 2rem;
}

.subheading {
  text-decoration: underline;
}

.project a {
  color: var(--main-color);
  text-decoration: underline;
  font-size: 2rem;
}

.project a:hover {
  text-decoration: underline;
  font-size: 2rem;
}

@media (max-width: 760px) {
  .projects-container {
    transform: scale(0.9); 
    transform-origin: top left;
    width: 100%;
  }

  .project h2 {
    font-size: 2rem;
  }

  .project p {
    font-size: 1.5rem;
  }

  .project a {
    font-size: 1.5rem;
  }
}
